<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
</head>
<body>
    <h1>Resume Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="resume">
        <button type="submit">Upload</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    {% if text %}
        <h3>Extracted Text:</h3>
        <p>{{ text }}</p>
    {% endif %}
    {% if skills %}
    <h3>Detected Skills:</h3>
    <ul>
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor %}
    </ul>
        {% endif %}

</body>
</html>